.social-icon{
  //border: 1px solid #6767673b;
  //padding: 12px 15px 12px 15px;
  //background: #1a1a1a;
}

//$break-small: 320px;
//
//.con-main {
//  @media screen and (max-width: $break-small) {
//    width: 100%;
//    display: flex !important;
//    flex-direction: column !important;
//    background: red !important;
//  }
//}

/*.slide-main {
  @media screen and (max-width: $break-small) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}*/


.panel{
  border-top: 0 !important;
  .panel-body{

    padding-top: 1%;
  }
  border-radius: 0 !important;

  background: #f5f8fa !important;


  input{
    border-radius: 0 !important;
  }

  button{
    border-radius: 0 !important;
    background: #f8b500;
    border-color: #f89a00;

    &:hover{
      background: #f89a00;
      border-color: #f89a00;
    }
  }

  //a{
    //.btn{
      .btn-link{
        color: #f89a00 !important;
        &:hover{
          color: #f89a00;
        }
      }
    //}
  //}
}

