.social-icon{
  //border: 1px solid #6767673b;
  //padding: 12px 15px 12px 15px;
  //background: #1a1a1a;
}

//$break-small: 320px;
//
//.con-main {
//  @media screen and (max-width: $break-small) {
//    width: 100%;
//    display: flex !important;
//    flex-direction: column !important;
//    background: red !important;
//  }
//}

/*.slide-main {
  @media screen and (max-width: $break-small) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}*/


.panel{
  border-top: 0 !important;
  .panel-body{

    padding-top: 1%;
  }
  border-radius: 0 !important;

  background: #f5f8fa !important;


  input{
    border-radius: 0 !important;
  }

  button{
    border-radius: 0 !important;
    background: #f8b500;
    border-color: #f89a00;
    color: #fff !important;

    &:hover{
      background: #f89a00;
      border-color: #f89a00;
      color: #fff !important;
    }
  }

  //a{
    //.btn{
      .btn-link{
        color: #f89a00 !important;
        &:hover{
          color: #f89a00;
        }
      }
    //}
  //}
}

//footer {
//  position: fixed;
//  left: 0;
//  bottom: 0;
//  width: 100%;
//}

.dash-box{
  text-align: center;
  border: 1px solid black;
  padding: 50px 25px 50px 25px;
  //border-radius: 5px;
  background: #19191969;
  color: #fff;
  span{
    font-size: 26px;
  }
}

.admin-sidebar{
  //border: 1px solid #2b2b2b !important;
  //border-radius: 5px;
  ul{
    li{
      width: 100%;
      text-align: left;
      border: 1px solid black;
      padding: 10%;
      background: #9a9c9d;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

