.social-icon{
  //border: 1px solid #6767673b;
  //padding: 12px 15px 12px 15px;
  //background: #1a1a1a;
}

//$break-small: 320px;
//
//.con-main {
//  @media screen and (max-width: $break-small) {
//    width: 100%;
//    display: flex !important;
//    flex-direction: column !important;
//    background: red !important;
//  }
//}

/*.slide-main {
  @media screen and (max-width: $break-small) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}*/

